@(title: String)
@main(title) {
   
    <div class="container-fluid">
    　　　<h1>メインページ</h1>
         <div class="row-fluid">
             <div class="span10">
                 <form class="form-search">
                 <div class="input-append">
                 <input type="text" class="input-medium search-query" placeholder="Search">
                 <button type="submit" class="btn"><i class="icon-search"></i></button>
                 </div>
                 </form>
             </div>
         </div>               
         
        <ul class="nav nav-list">  
            <li><a href="/watch/lv111111">番組名</a></li> 
            <li class="divider"></li>  
            <li><a href="/watch/lv999999">番組名</a></li>
            <li class="divider"></li> 
            <li><a href="/watch/lv999999">番組名</a></li>    
            <li class="divider"></li>        
        </ul> 
     
      <div><a class="btn btn-warning" href="/newChannel">配信ページへ</i></a></div>          
   </div>
}