@(title: String,channelList: List[Channel] )

@main(title) {
    <div class="container-fluid">
        <h1>メインページ</h1>         
         
        <form class="form-search">
        <div class="input-append">
        <input type="text" class="input-medium search-query" placeholder="Search">
        <button type="submit" class="btn"><i class="icon-search"></i></button>
        </div>
        </form>                      

        <ul class="nav nav-list">  
            @for(channel <- channelList){
                <li><a href="/watch/@channel.getChannelURI()">@channel.getChannelName() (@channel.getChannelURI())</a></li>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#@channel.getChannelName()">
                        紹介</a>
                    </div>
                    <div id="@channel.getChannelName()" class="accordion-body collapse">
                        <div class="accordion-inner">this is my channel</div>
                    </div>
                </div>
            <li class="divider"></li> 
            }
        </ul> 
     
        <div><a class="btn btn-warning" href="/newChannel">配信ページへ</i></a></div>          
    </div>
}