@main("枠作成") {
    <div class="container-fluid">
    <h1>枠作成</h1>
    <form action="newChannel/update" method="post">        
        
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#1" data-toggle="tab">設定</a></li>
            <li><a href="#2" data-toggle="tab">イソノ</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="1">
               <input > 動画接続先URI </input><br>
                <btn>配信開始</btn><br>
                <btn>停止</btn>
            </div>
            <div class="tab-pane" id="2">
                <btn>イソノ無効にする</btn>
            </div>
        </div>
    </div>
    
    <li class="divider"></li> 
    <input type="submit" class="btn btn-warning" value="create"> 
    
    </form>
    </div>
}