@main("枠作成") {
<div class="container-fluid">   
    
    <h1>枠作成</h1>
     
     <video width="320" height="240" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
     </video>
     
     
     
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#1" data-toggle="tab">設定</a></li>
            <li><a href="#2" data-toggle="tab">イソノ</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="1">
                <p>設定設定設定</p>
            </div>
            <div class="tab-pane" id="2">
                <p>磯野</p>
            </div>
        </div>
    </div>
    
<div>
}


