@(chURI: String)

@main("視聴ページ") {
    <div class="container-fluid">    
        <h1>視聴ページ</h1>
        <h2>@chURI</h2>
    
        <video width="320" height="240" controls>
        <source src="movie.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
        </video>
        
        <form id="commentForm">
    	    <input style="height: 26px;width: 215px" id="comment" type="text" name="text" placeholder="comment" />
            <input class="btn-def btn-warning" type="submit" value="Comment">
        </form> 
    </div>     
}