@(channelURI: String)

@main("視聴ページ") {
<div class="container-fluid">
    <script type="text/javascript">
        

    </script>
    <h1>@channelURI視聴中...</h1>
    <div id="view">
        <video width＝"280" height="210" class="live" onclick="this.play();" controls autoplay>
            <source src="http://nc07.ff-in.dwango.co.jp:8080/hls/@(channelURI).m3u8"></source>
        </video>
        <div id="comment"></div>
    </div>
    <form class="input-append" id="commentForm" action="./@channelURI/update" method="POST">
        <input id="cmt" type="text" name="text" placeholder="Enter comment" />
        <button class="btn btn-warning" type="submit"><i class="icon-comment icon-white"></i> 投稿</button>
    </form>

    <iframe style="display:none" id="comet" src="./@channelURI/connectComet"></iframe>
    
    <!-- jQueryのソース -->
    <script type="text/javascript" charset="utf-8">
    //コメントフォームを変数に代入
        var commentForm = $("#commentForm");
        //投稿ボタンが押されたら実行
        commentForm.on("submit",function(e){
        //フォームを送信したときにページ遷移しないようにする
        e.preventDefault();
        //ajaxで非同期にフォームを送信
        $.ajax({
                type: commentForm.attr("method"),
                url: commentForm.attr("action"),
                data: commentForm.serialize(),
                //送信に成功したらフォームのテキストエリアをクリアする
                success: function(data, dataType){$("#cmt").val("");},
                error: function(XMLHttpRequest, textStatus, errorThrown){}
        });
        });
    
        //Cometレスポンスから実行されるメソッド
        var getComment = function(comment){
            //ここにコメントに対する処理を記述する
            Comment.shootComment(comment.context);
            /*
               var player = $('#player');
               player.append('<div><div style="color:#ffffff;" class="cmt">' + comment.context + '</div>');
               player.scrollTop(player.scrollTop() + 100);
               */
        }
        var getSize = function(size){
            alert(size);
        }
        
        var Comment = {
            commentBox : null,
            lastComment : parseInt(new Date()/1000),
            lastCommentHeight:1,
            /*
            nantoka : function(commentSet){
                this.naiyou;
                ....
                if ue!=notue{
                    kommento nagasu
                }else{
                    ueniyyatte 5byougonikesu;
                }
                
            }*/
            shootComment : function(content){
                //
                //コメントを追加するDOMを探す．1回だけ
                //
                if(this.commentBox == null) this.commentBox = $("#comment");
                
                //
                //新しいコメントを追加，流す．
                //
                //新しく生成したコメントをキャッシュしておく
                this.newComment = $('<span class="comment">' + content  +'</span>')
                                .appendTo(this.commentBox);
                this.newComment.css('top',  Math.random() * 12 + 'em');
                /*if(parseInt(new Date() / 1000) - this.lastComment < 5){
                    if (this.lastComment < 8){
                        this.newComment.css('top',  this.lastCommentHeight + 'em');
                        this.lastCommentHeight++;
                    }else{
                        this.newComment.css('top',  Math.random() * 12 + 'em');
                    }
                }else{
                        this.lastCommentHeight = 1;
                }*/
                
                this.newComment.css("right", -this.newComment.width() + 'px');
                $("body").append(this.newComment.text() + '<br>');
                this.newComment.animate( {'right' :  320 + 'px'},
                                    {duration : 5000,
                                    easing : 'linear',
                                    complete : function(){  } 
                                    } );
                
                //最後のコメントが入力された時間
                this.lastComment = parseInt(new Date()/1000);
            }
            
            /*
            function scroll(comment, color, size){
                // デフォルト引数
                if(typeof color === 'undefined') color = white;
                if(typeof size === 'undefined') size = 1em;
                
                
                this.newComment = $('<span class="comment">' + content  +'</span>')
                                .appendTo(this.commentBox);
                this.newComment.css('top',  Math.random() * 12 + 'em');
                
                // アニメーション開始
                this.newComment.css("right", -this.newComment.width() + 'px');
                $("body").append(this.newComment.text() + '<br>');
                this.newComment.animate( {'right' :  320 + 'px'},
                                    {duration : 5000,
                                    easing : 'linear',
                                    complete : function(){  } 
                                    } );
            }*/
        }
     
    </script>
</div>
}
