@(channelURI: String)

@main("視聴ページ") {
    <h1>視聴ページ</h1>
    <h2>@channelURI</h2>
    
    <form id="commentForm" action="./@channelURI/update" method="POST">
    	<input id="message" type="text" name="text" placeholder="comment" />
        <input type="submit" value="投稿"> 
    </form>
    
    <iframe style="display:none" id="comet" src="./@channelURI/connectComet"></iframe>
    
    <!-- jQueryのソース -->
    <script type="text/javascript" charset="utf-8">
    	//コメントフォームを変数に代入
  		var commentForm = $("#commentForm");
  		//投稿ボタンが押されたら実行
  		commentForm.on("submit",function(e){
  			//フォームを送信したときにページ遷移しないようにする
  			e.preventDefault();
  			//ajaxで非同期にフォームを送信
  			$.ajax({
                type: commentForm.attr("method"),
                url: commentForm.attr("action"),
                data: commentForm.serialize(),
                success: function(data, dataType){$("#message").val("");},
                error: function(XMLHttpRequest, textStatus, errorThrown){}
  			});
  		});
    
    	//Cometレスポンスから実行されるメソッド
    	var getComment = function(comments){
    			
    	}
    </script>
}